<div class="jumbotron">
    <h1>Welcome to PAD {% if page == 'PADv2' %}v2:</h1> <br /> <h2>Clustering of chromatin regions </h2> {% elif page == 'PADvMMTen' %}(ver. mm10):</h1> <br /> <h2>Clustering of chromatin regions </h2> {% else %}: </h1><br> <h2> Clustering of Proximal And Distal regions from TSS. </h2>{% endif %}
    <p><h4>Quick start guide:</h4></p>
    <p>
        1. Select the peaks from the database by clicking the green button.
        <br>
        2. Select the genes annotation to compare the peaks against to.
        <br>
        3. Choose your file to upload and compare against the database.
        <br>
        {% if page == 'PADv1' %}
        4. Select the 'cut-off' value which will be the threshold to separate 'proximal' and 'distal'.
        {% elif page == 'PADv2' %}
        4. Select the 'region' which you wish to compare.
        {% elif page == 'PADvMMTen' %}
        4. Select the 'region' which you wish to compare.
        {% endif %}
        <br>
        5. Click Submit.
    </p>
    <a href="{{ MEDIA_URL }}sample/Nfy.bsites" download="sample">Download sample BED file</a>
</div>
