<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">PAD clustering</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li {% if page and page == "PADv2" %} class="active"{% endif %}><a href="/">PAD 2</a></li>
          <li {% if page and page == "PADv1" %} class="active"{% endif %}><a href="/PADv1">PAD</a></li>
          <li {% if page and page == "PADvMMTen" %} class="active"{% endif %}><a href="/PADmm10">PAD(ver. mm10)</a></li>
          <li {% if page and page == "newPAD" %} class="active"{% endif %}><a href="/newStates">newPAD</a></li>
          <li {% if page and page == "instruction" %} class="active"{% endif %}><a href="/PADv1/instruction">Instruction</a></li>
        </ul>
    </div>
  </div>
</nav>
